:root {
    --black : #0c0c0c;
    --white : #f9f9f9;
    --higlight : #0f0;
}


html, body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-flow: column;
  background-color: var(--black);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
  display: block;
  overflow: hidden;
  overflow-y: hidden;
}

header {
  background-color: var(--black);
  border-bottom: 5px solid var(--highlight);
  padding-bottom: 1px;
  padding-left: 1px;
}

.postamble {
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
  border-left: 2px solid var(--black);
  background-color: var(--black);
  position: absolute;
  text-indent: 6px;
  width: fit-content;
  top: 0;
}

.navigation {
  text-align: center;
}

.navigation > * {
  padding-bottom: 2px;
  display: inline;
}

.notes-container {
  display: flex;
  flex: 1;
  flex-grow: 1;
  overflow-x: auto !important;
  white-space: nowrap;
}

.notes {
  max-width: 100%;
  flex-grow: 1;
  position: relative;
}

.note {
  background: var(--black);
  color: var(--white);
  border-left: 0px solid var(--black);
  box-sizing: border-box;
  display: inline-block;
  height: 100% !important;
  max-width: 625px;
  max-height: 100%;
  overflow-y: auto;
  vertical-align: top;
  white-space: normal;
  width: 100%;
}

.content {
  padding: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--highlight);
  font-style: italic;
  font-weight: bold;
}

a.active {
  background-color: var(--highlight);
}

a[target="_blank"]:after {
  padding-left: 3px;
  content: "[external site]";
}

dt {
  font-weight: bold;
}

img {
  max-width: 100%;
  max-height: 100%;
  filter: invert(1);
}

input[type="submit"] {
    border-color: var(--white);
    color: var(--white)  ;
    background: var(--black) ;
    border: 0px solid var(--white);
    padding:  revert;
    clip-path: padding-box;
    font-size: x-large;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background-color: var(--white) ;
    color: var(--black) ;
}

.header-title{
    font-size: x-large;
    color: var(--white) ;
}
